{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="position-relative">
        <div class="position-fixed">
            <input type="checkbox" name="check-all" id="check-all" />
            <select id="select-all" class="select2" style="width: 200px;" onChange="handleSelectAll(this)">
                {% for label, value in labels %}
                    <option value="{{ label }}"><span>{{ value.label }}</option>
                {% endfor %}
            </select>
        </div>
        <h1 class="text-center">Data Labeling</h1>
        <div class="row" style="max-height: 30vh; overflow-y: scroll;">
            {% for label, value in labels %}
                <div class="card m-2" style="max-width: 180px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ value.src }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="font-size: 14px;">{{ value.label }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <form action="{{ path('save_category') }}" method="post" style="height: 60vh; overflow-y: scroll; overflow-x: hidden;">
        <div class="row justify-content-center">
            {% set iter = 0 %}
            {% for img in imgs %}
                {% set iter = iter + 1 %}
                <div class="card m-2" style="width: 18rem;">
                    <div class="card-body">
                        <input id="iCheck{{iter}}" data-iter="{{ iter }}" type="checkbox" class="i-checks">
                        <div class="card-img-title" onClick="handleCardClicked({{iter}})">
                            <img src='{{ asset(imgFolder ~"/"~ img) }}' class="card-img-top" alt="{{ img }}">
                            <div class="card-title text-nowrap" style="fond-size: 6px; overflow-x: scroll;">{{ img }}</div>
                            <input type="hidden" name="urlImg{{ iter }}" value="{{ img }}">
                        </div>
                        <select name="categoryImg{{ iter }}" class="select2 product-item w-100">
                            {% for label, value in labels %}
                                <option value="{{ label }}">{{ value.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endfor %}
            <input type="hidden" name="nbrProduct" value="{{ iter }}">
        </div>
        <div class="row mt-3">
            <button type="submit" class="btn btn-primary mx-auto" style="width: 80%;">Enregistrer</button>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.select2').select2();

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });

            $('#check-all').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });

            $('#check-all').on("ifChecked", function() {
                $(".i-checks").each(function(index) {
                    $(this).iCheck('check');
                });
            });

            $('#check-all').on("ifUnchecked", function(index) {
                $(".i-checks").each(function() {
                    $(this).iCheck('uncheck');
                });
            });
        });

        function handleSelectAll(el) {

            let selectAllValue = $(el).val();

            $("input.i-checks:checked").each(function(item) {
                let iter = $(this).data('iter');
                $('select[name="categoryImg'+ iter +'"]').val(selectAllValue).trigger('change');
                $("#iCheck"+ iter).iCheck('uncheck');
            });
        }

        function handleCardClicked(index) {
            $("#iCheck"+ index).iCheck('toggle');
        }
    </script>
{% endblock %}
